<div id="<%= dom_id reztaurant %>">
  <p>
    <strong>Phone:</strong>
    <%= reztaurant.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= reztaurant.email %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= reztaurant.name %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= reztaurant.active %>
  </p>

</div>
