<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="text-center">Users</h1>

  <table class="table table-striped custom-bordered mx-auto" style="max-width: 80%;">
    <thead>
      <tr>
        <th class="text-center table-custom-head">Email</th>
        <th class="text-center table-custom-head">Name</th>
        <th class="text-center table-custom-head">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @uzers.each do |uzer| %>
        <tr>
          <td class="text-center"><%= uzer.email %></td>
          <td class="text-center"><%= uzer.name %></td>
          <td class="text-center">
            <%= link_to "Show", uzer, class: "btn btn-primary logo-gr-btn btn-sm me-2" %>
            <%= link_to "Edit", edit_uzer_path(uzer), class: "btn btn-secondary logo-or-btn btn-sm me-2" %>
            <%= link_to "Delete", uzer, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= link_to "New user", new_uzer_path, class: "btn btn-warning logo-gr-btn btn-lg m-3" %>
  </div>
</div>
